$main-width: 400px
$main-height: 84px
$lang-bar-height: 10px
.signature
  width: $main-width
  height: $main-height + $lang-bar-height
  background-color: black
  color: white
  overflow: hidden
  box-sizing: border-box
  font-family: 'meiryo UI'

  $box-list-width: 100px
  $box-list-height: $main-height - $lang-bar-height * 2
  .sig-color-box-list
    width: $box-list-width
    height: $box-list-height

    .sig-scouter
      float: left
      width: $box-list-width
      height: 19px
      border-top: 1px solid white
      font-size: 15px

    .sig-color-box
      font-size: 19px
      float: left
      width: $box-list-width / 2
      height: $box-list-height / 2

    .sig-color-box-num
      font-size: 14px
      text-align: right

  $sig-gap: 2px
  $avatar-size: $main-height
  $sig-container-width: $main-width - $box-list-width - $avatar-size
  $sig-container-height: $main-height
  .sig-container
    position: relative
    bottom: $sig-container-height + $sig-gap
    left: $box-list-width + $sig-gap
    width: $sig-container-width
    height: $sig-container-height
    margin-left: 3px
    clear: both
    float: left

    .sig-text
      font-size: 7px
      height: 14px
      margin: 0px
      padding: 0px

    .sig-user-name
      position: relative
      clear: both
      height: 30px

  .sig-lang-bar
    position: relative
    height: $lang-bar-height
    min-height: $lang-bar-height
    margin-top: -84px
    width: $main-width
    background: white
    display: inline-flex
    .sig-lang
      position: relative
      height: $lang-bar-height
      min-height: $lang-bar-height
      display: inline-flex

  .sig-avatar
    position: relative
    bottom: $avatar-size
    float: right
    height: $avatar-size

  .ABAP
    background-color: #E8274B
  .AGS_Script
    background-color: #B9D9FF
  .AMPL
    background-color: #E6EFBB
  .ANTLR
    background-color: #9DC3FF
  .API_Blueprint
    background-color: #2ACCA8
  .APL
    background-color: #5A8164
  .ASP
    background-color: #6a40fd
  .ATS
    background-color: #1ac620
  .ActionScript
    background-color: #882B0F
  .Ada
    background-color: #02f88c
  .Agda
    background-color: #315665
  .Alloy
    background-color: #cc5c24
  .Arc
    background-color: #aa2afe
  .Arduino
    background-color: #bd79d1
  .AspectJ
    background-color: #a957b0
  .Assembly
    background-color: #6E4C13
  .AutoHotkey
    background-color: #6594b9
  .AutoIt
    background-color: #1C3552
  .BlitzMax
    background-color: #cd6400
  .Boo
    background-color: #d4bec1
  .Brainfuck
    background-color: #2F2530
  .C
    background-color: #555555
  .CSharp
    background-color: #178600
  .C++
    background-color: #f34b7d
  .CSS
    background-color: #563d7c
  .Chapel
    background-color: #8dc63f
  .Cirru
    background-color: #ccccff
  .Clarion
    background-color: #db901e
  .Clean
    background-color: #3F85AF
  .Clojure
    background-color: #db5855
  .CoffeeScript
    background-color: #244776
  .ColdFusion
    background-color: #ed2cd6
  .ColdFusion_CFC
    background-color: #ed2cd6
  .Common_Lisp
    background-color: #3fb68b
  .Component_Pascal
    background-color: #b0ce4e
  .Crystal
    background-color: #776791
  .D
    background-color: #fcd46d
  .DM
    background-color: #447265
  .Dart
    background-color: #00B4AB
  .Diff
    background-color: #88dddd
  .Dogescript
    background-color: #cca760
  .Dylan
    background-color: #6c616e
  .E
    background-color: #ccce35
  .ECL
    background-color: #8a1267
  .Eagle
    background-color: #814C05
  .Eiffel
    background-color: #946d57
  .Elixir
    background-color: #6e4a7e
  .Elm
    background-color: #60B5CC
  .Emacs_Lisp
    background-color: #c065db
  .EmberScript
    background-color: #FFF4F3
  .Erlang
    background-color: #B83998
  .FSharp
    background-color: #b845fc
  .FLUX
    background-color: #88ccff
  .FORTRAN
    background-color: #4d41b1
  .Factor
    background-color: #636746
  .Fancy
    background-color: #7b9db4
  .Fantom
    background-color: #dbded5
  .Forth
    background-color: #341708
  .Frege
    background-color: #00cafe
  .Game_Maker_Language
    background-color: #8fb200
  .Glyph
    background-color: #e4cc98
  .Gnuplot
    background-color: #f0a9f0
  .Go
    background-color: #375eab
  .Golo
    background-color: #88562A
  .Gosu
    background-color: #82937f
  .Grammatical_Framework
    background-color: #79aa7a
  .Groovy
    background-color: #e69f56
  .HTML
    background-color: #e44b23
  .Handlebars
    background-color: #01a9d6
  .Harbour
    background-color: #0e60e3
  .Haskell
    background-color: #29b544
  .Haxe
    background-color: #f7941e
  .Hy
    background-color: #7790B2
  .IDL
    background-color: #a3522f
  .Io
    background-color: #a9188d
  .Ioke
    background-color: #078193
  .Isabelle
    background-color: #FEFE00
  .J
    background-color: #9EEDFF
  .JFlex
    background-color: #DBCA00
  .Java
    background-color: #b07219
  .JavaScript
    background-color: #f1e05a
  .Julia
    background-color: #a270ba
  .KRL
    background-color: #28431f
  .Kotlin
    background-color: #EA4DFA
  .LFE
    background-color: #004200
  .LOLCODE
    background-color: #cc9900
  .LSL
    background-color: #3d9970
  .Lasso
    background-color: #999999
  .Latte
    background-color: #A8FF97
  .LiveScript
    background-color: #499886
  .LookML
    background-color: #652B81
  .Lua
    background-color: #000080
  .MTML
    background-color: #b7e1f4
  .Makefile
    background-color: #427819
  .Mask
    background-color: #f97732
  .Matlab
    background-color: #bb92ac
  .Max
    background-color: #c4a79c
  .Mercury
    background-color: #ff2b2b
  .Mirah
    background-color: #c7a938
  .Nemerle
    background-color: #3d3c6e
  .NetLinx
    background-color: #0aa0ff
  .NetLinx+ERB
    background-color: #747faa
  .NetLogo
    background-color: #ff6375
  .NewLisp
    background-color: #87AED7
  .Nimrod
    background-color: #37775b
  .Nit
    background-color: #009917
  .Nix
    background-color: #7e7eff
  .Nu
    background-color: #c9df40
  .OCaml
    background-color: #3be133
  .Objective-C
    background-color: #438eff
  .Objective-C++
    background-color: #6866fb
  .Objective-J
    background-color: #ff0c5a
  .Omgrofl
    background-color: #cabbff
  .Opal
    background-color: #f7ede0
  .Oxygene
    background-color: #cdd0e3
  .Oz
    background-color: #fab738
  .PAWN
    background-color: #dbb284
  .PHP
    background-color: #4F5D95
  .Pan
    background-color: #cc0000
  .Papyrus
    background-color: #6600cc
  .Parrot
    background-color: #f3ca0a
  .Pascal
    background-color: #b0ce4e
  .Perl
    background-color: #0298c3
  .Perl6
    background-color: #0000fb
  .PigLatin
    background-color: #fcd7de
  .Pike
    background-color: #005390
  .PogoScript
    background-color: #d80074
  .Processing
    background-color: #0096D8
  .Prolog
    background-color: #74283c
  .Propeller_Spin
    background-color: #7fa2a7
  .Puppet
    background-color: #332A77
  .Pure_Data
    background-color: #91de79
  .PureBasic
    background-color: #5a6986
  .PureScript
    background-color: #1D222D
  .Python
    background-color: #3572A5
  .QML
    background-color: #44a51c
  .R
    background-color: #198ce7
  .RAML
    background-color: #77d9fb
  .Racket
    background-color: #22228f
  .Ragel_in_Ruby_Host
    background-color: #e17600
  .Rebol
    background-color: #358a5b
  .Red
    background-color: #ee0000
  .Rouge
    background-color: #cc0088
  .Ruby
    background-color: #701516
  .Rust
    background-color: #dea584
  .SAS
    background-color: #B34936
  .SQF
    background-color: #3F3F3F
  .SaltStack
    background-color: #646464
  .Scala
    background-color: #7dd3b0
  .Scheme
    background-color: #1e4aec
  .Self
    background-color: #0579aa
  .Shell
    background-color: #89e051
  .Shen
    background-color: #120F14
  .Slash
    background-color: #007eff
  .Slim
    background-color: #ff8f77
  .Smalltalk
    background-color: #596706
  .SourcePawn
    background-color: #5c7611
  .Squirrel
    background-color: #800000
  .Standard_ML
    background-color: #dc566d
  .SuperCollider
    background-color: #46390b
  .Swift
    background-color: #ffac45
  .SystemVerilog
    background-color: #DAE1C2
  .Tcl
    background-color: #e4cc98
  .TeX
    background-color: #3D6117
  .Turing
    background-color: #45f715
  .TypeScript
    background-color: #2b7489
  .Unified_Parallel_C
    background-color: #4e3617
  .UnrealScript
    background-color: #a54c4d
  .VHDL
    background-color: #adb2cb
  .Vala
    background-color: #fbe5cd
  .Verilog
    background-color: #b2b7f8
  .VimL
    background-color: #199f4b
  .Visual_Basic
    background-color: #945db7
  .Volt
    background-color: #1F1F1F
  .Web_Ontology_Language
    background-color: #9cc9dd
  .XC
    background-color: #99DA07
  .XQuery
    background-color: #5232e7
  .Zephir
    background-color: #118f9e
  .eC
    background-color: #913960
  .edn
    background-color: #db5855
  .nesC
    background-color: #94B0C7
  .ooc
    background-color: #b0b77e
  .wisp
    background-color: #7582D1
  .xBase
    background-color: #403a40
