$main-width: 400px
$main-height: 100px

.signature
  width: $main-width
  height: $main-height
  background-color: black
  color: white
  overflow: hidden
  box-sizing: border-box
  font-family: 'meiryo'

  $box-list-width: 100px
  $box-list-height: 100px
  .color-box-list
    width: $box-list-width
    height: $box-list-height

    .follow-box
      float: left
      width: $box-list-width / 2
      height: $box-list-height / 2

    .star-box
      clear: left
      width: $box-list-width
      height: $box-list-height
      background-color: #FF0

  $sig-container-gap: 8px
  $sig-container-width: $main-width - $box-list-width
  $sig-container-height: $main-height - $box-list-height
  .sig-container
    position: absolute
    top: $sig-container-gap
    left: $box-list-width + $sig-container-gap
    width: $sig-container-width
    height: $sig-container-height
    margin-left: 3px

    .user-name
      clear: both
      font-size: 24px

    .public-repos
      font-size: 13px

    .public-gists
      font-size: 13px

